.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/classes/org/test/ws/BankService.class
target/classes/org/test/ws/package-info.class
